<div class="timerPageContainer">
    <div class="indhold">
        <div id="time-container" class="display-1">{{stopwatchTime}}</div>
            <button id="startBtn" class="start" (click)="start()">Play</button>
            <button id="stopBtn" class="stop" (click)="pause()">Innovate_</button>
            <button id="resetBtn" class="reset" (click)="reset()">New</button>
    </div>
    <div class="footer">
        <div class="footer-left">
            <div class="logo"><img height="141" width="162" src="../../assets/images/logo.png"></div>
        </div>
        <div class="footer-center">━━</div>
        <div class="footer-right">Play to innovate_</div>
    </div>
    <div class="ring">
        <img height="199" width="199" src="../../assets/images/ring.png">
    </div>
</div>